:root {
  --color-1: #F6F6F6;
  --color-2: #FFE2E2;
  --color-3: #FFC7C7;
  --color-4: #AAAAAA;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

body {
  background-image: url("background.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  /*background-color: var(--color-4);*/
  height: 100vmin;
  display: grid;
  justify-content: center;
  align-items: center;
}

.main-container {
  background-color: var(--color-3);
  border: 3vmin solid var(--color-3);
  border-radius: 3vmin 3vmin 3vmin 3vmin;
}

.column {
  height: 90vmin;
  width: 90vmin;
  display: grid;
  grid-template-rows: repeat(8, 12.5%);
}

.row {
  display: grid;
  grid-template-columns: repeat(8, 12.5%);
}

.piece, .piece2 {
  background-color: var(--color-2);
  font-size: 9.5vmin;
  height: 11.5vmin;
  width: 100%;
  display:grid;
  justify-content: center;
  align-items: center;
}

.piece2{
  background-color: var(--color-1) !important;
}
