@import url('https://fonts.googleapis.com/css2?family=Varela+Round&display=swap');

* {
  --color-1: rgb(71, 249, 255);
  --color-2: #03bcf4;
  --color-3: rgb(247, 154, 77);
  --color-4: rgb(253, 128, 25);
  --color-5: black;
  --color-6: rgb(0, 5, 49);
  --color-7: rgba(0, 0, 0, 0.575);
  padding: 0;
  margin: 0;
}

body {
  font-family: 'Varela Round', sans-serif;
  font-weight: bolder;
}

.hidden {
  display: none;
}

.main-container {
  background-color: var(--color-6);
  background-image: url('/tictactoe/images/background.jpg');
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}
  .dim-light {
    position: absolute;
    background: var(--color-7);
    height: 100vh;
    width: 100%;
    z-index: 3;
    pointer-events: none;
  }
  /* .cell:nth-child(2) {
    z-index: 4;
  } */

.title {
  color: var(--color-1);
  font-size: 3rem;
  margin-top: 5%;
  z-index: 5;
  text-shadow: 0 0 .1em var(--color-1),
               0 0 .2em var(--color-1);
}
  .title span {
    font-size: 1em;
    color: var(--color-3);
    text-shadow: 0 0 .1em var(--color-4),
                 0 0 .2em var(--color-4);
  }

.choose-container {
  color: white;
  border: 1px solid var(--color-1);
  border-radius: 3rem;
  margin-top: 10%;
  padding: 3rem;
  width: 30rem;
  text-align: center;
  text-shadow: 0 0 .1em var(--color-1),
               0 0 .2em var(--color-1);
}
  .choose-container h1 {
    padding-bottom: 4rem;
    font-size: 2rem;
  }
  .choose-sub-container {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }
    .choose {
      font-size: 6rem;
      color: var(--color-1);
      cursor: pointer;
    }
      .choose.playerO {
        color: var(--color-3);
        text-shadow: 0 0 .1em var(--color-4),
                     0 0 .2em var(--color-4);
      }
      .choose.playerX:hover {
        color: white; 
        text-shadow: 0 0 .1em var(--color-1),
                     0 0 .2em var(--color-1);
      }
      .choose.playerO:hover {
        color: white; 
        text-shadow: 0 0 .1em var(--color-4),
                     0 0 .2em var(--color-4);
      }

.display {
  color: var(--color-5);
  font-size: 3rem;
  margin: 1rem;
  z-index: 5;
  text-shadow: 0 0 .1em var(--color-1),
               0 0 .2em var(--color-1);
}
  .display-player.playerX {
    color: var(--color-1);
    text-shadow: 0 0 .1em var(--color-1),
                 0 0 .2em var(--color-1);
  }
  .display-player.playerO {
    color: var(--color-3);
    text-shadow: 0 0 .1em var(--color-4),
                 0 0 .2em var(--color-4);
  }
  .display span {
    font-size: 1em;
  }

.sub-container {
  display: none;
  flex-direction: column;
  align-items: center;
}

.container {
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(3, auto);
  /* grid-template-rows: repeat(3, auto); */
  justify-content: center;

}
  .cell {
    background-color: var(--color-6);
    border: .04rem solid var(--color-1);
    min-width: 10rem;
    min-height: 10rem;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 3.5rem;
    cursor: pointer;
    z-index: 2;
  }
  /* .cell:hover {
    box-shadow: inset 0 0 .3rem .3rem var(--color-1);
  } */
  .cell.X::after, .cell.O::after{
    position: absolute;
    font-size: 8rem;
    content: 'X';
    color: white;
    text-shadow: 0 0 1rem var(--color-1),
                 0 0 2rem var(--color-1);
  }
  .cell.O::after{
    content: 'O';
    color: white;
    text-shadow: 0 0 1rem var(--color-4),
                 0 0 2rem var(--color-4);
  }


.reset {
  margin-top: 2rem;
  z-index: 4;
}
  .reset-button {
    color: var(--color-5);
    border: 1px solid black;
    background-color: var(--color-2);
    padding: 1rem;
    border-radius: 0.5rem;
    font-size: 2rem;
    cursor: pointer;
    box-shadow: 0 0 1rem var(--color-2),
                0 0 2rem var(--color-2);
  }
  .reset-button:hover {
    border: 1px solid black;
    background-color: var(--color-1);
    box-shadow: 0 0 1rem var(--color-2),
                0 0 2rem var(--color-2);
  }

.winning-line {
  position: absolute;
  min-width: 30rem;
  min-height: 30rem;
  pointer-events: none;
}
  .line {
    position: absolute;
    border-radius: 1rem;
    background-color: white;
    z-index: 5;
  }
    .line.first, .line.second, .line.third {
      top: 4.5rem;
      left: .18rem;
      width: 30rem;
      height: 1rem;
    }
      .line.second {
        top: 14.5rem;
      }
      .line.third {
        top: 25rem;
      }
    .line.fourth, .line.fifth, .line.sixth {
      top: .18rem;
      left: 4.5rem;
      width: 1rem;
      height: 30rem;
    }
      .line.fifth {
        left: 14.5rem;
      }
      .line.sixth {
        left: 25rem;
      }
    .line.seventh, .line.eight {
      top: -4.5rem;
      left: .18rem;
      width: 1rem;
      height: 40rem;
      transform: translateX(14.5rem) rotate(-45deg);
    }
      .line.eight {
        transform: translateX(14.5rem) rotate(45deg)
      }
    .line-shadowX {
      box-shadow: 0 0 1rem var(--color-2),
                  0 0 2rem var(--color-2);
    }
    .line-shadowO {
      box-shadow: 0 0 1rem var(--color-4),
                  0 0 2rem var(--color-4);
    }


@media all and (max-width: 900px) {
  * {
    font-size: 80%;
  }
  .title {
    margin-top: 10%;
    font-size: 10rem;
  }
}

@media all and (max-width: 600px) {
  * {
    font-size: 60%;
  }
  .title {
    margin-top: 10%;
    font-size: 10rem;
  }
  .choose-container {
    width: 30rem;
  }
}

@media all and (max-width: 400px) {
  .choose-container {
    width: 20rem;
  }
}