@import url('https://fonts.googleapis.com/css2?family=Varela+Round&display=swap');

* {
  --color-1: rgb(71, 249, 255);
  --color-2: #03bcf4;
  --color-3: rgb(247, 154, 77);
  --color-4: rgb(248, 132, 37);
  --color-5: black;
  --color-6: rgb(14, 0, 94);
  padding: 0;
  margin: 0;
}

body {
  font-family: 'Varela Round', sans-serif;
  font-weight: bolder;
}

.hidden {
  display: none;
}

.main-container {
  background-color: var(--color-6);
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.title {
  color: var(--color-1);
  font-size: 3rem;
  margin-top: 5%;
  text-shadow: 0 0 .1em var(--color-1),
               0 0 .2em var(--color-1);
}
  .title span {
    color: var(--color-3);
    text-shadow: 0 0 .1em var(--color-4),
                 0 0 .2em var(--color-4);
  }

.display {
  color: var(--color-5);
  font-size: 3rem;
  margin: 1rem;
  text-shadow: 0 0 .1em var(--color-1),
               0 0 .2em var(--color-1);
}
  .display-player.playerX {
    color: var(--color-1);
    text-shadow: 0 0 .1em var(--color-1),
                 0 0 .2em var(--color-1);
  }
  .display-player.playerO {
    color: var(--color-3);
    text-shadow: 0 0 .1em var(--color-4),
                 0 0 .2em var(--color-4);
  }

.container {
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(3, auto);
  /* grid-template-rows: repeat(3, auto); */
  justify-content: center;

}
  .cell {
    border: .04rem solid var(--color-1);
    min-width: 10rem;
    min-height: 10rem;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 3.5rem;
    cursor: pointer;
    /* box-shadow:
    0 0 .6rem .3rem #fff,
    0 0 1rem .6rem rgb(255, 29, 255),
    0 0 1.4rem .9rem rgb(23, 247, 255); */
  }
  .cell.X::after, .cell.O::after{
    position: absolute;
    font-size: 6rem;
    content: 'X';
    color: white;
    text-shadow: 0 0 1rem var(--color-1),
                 0 0 2rem var(--color-1);
    z-index: 2;
  }
  .cell.O::after{
    content: 'O';
    color: white;
    text-shadow: 0 0 1rem var(--color-4),
                 0 0 2rem var(--color-4);
  }


.reset {
  margin-top: .5em;
}
  .reset-button {
    color: var(--color-5);
    border: 1px solid black;
    background-color: var(--color-2);
    padding: 1rem;
    border-radius: 0.5rem;
    font-size: 2rem;
    cursor: pointer;
    box-shadow: 0 0 1rem var(--color-2),
                0 0 2rem var(--color-2);
  }
  .reset-button:hover {
    border: 1px solid black;
    background-color: var(--color-1);
    box-shadow: 0 0 1rem var(--color-2),
                0 0 2rem var(--color-2);
  }

.winning-line {
  position: absolute;
  min-width: 30rem;
  min-height: 30rem;
  pointer-events: none;
}
  .line {
    position: absolute;
    border-radius: 1rem;
    background-color: white;
    z-index: 10;
  }
    .line.first, .line.second, .line.third {
      top: 4.5rem;
      left: .18rem;
      width: 30rem;
      height: 1.2rem;
    }
      .line.second {
        top: 14.5rem;
      }
      .line.third {
        top: 25rem;
      }
    .line.fourth, .line.fifth, .line.sixth {
      top: .18rem;
      left: 4.5rem;
      width: 1.2rem;
      height: 30rem;
    }
      .line.fifth {
        left: 14.5rem;
      }
      .line.sixth {
        left: 25rem;
      }
    .line.seventh, .line.eight {
      top: -4.5rem;
      left: .18rem;
      width: 1.2rem;
      height: 40rem;
      transform: translateX(14.5rem) rotate(-45deg);
    }
      .line.eight {
        transform: translateX(14.5rem) rotate(45deg)
      }
    .line-shadowX {
      box-shadow: 0 0 1rem var(--color-2),
                  0 0 2rem var(--color-2);
    }
    .line-shadowO {
      box-shadow: 0 0 1rem var(--color-4),
                  0 0 2rem var(--color-4);
    }